@using SpendSmart.Models
@{
    ViewData["Title"] = "Expenses";
}

@model SpendSmart.ViewModels.ExpenseViewModel

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <br/>
    <hr/>
    <h3>Total with category</h3>
    <form asp-action="Expenses" asp-controller="Home" method="post">

        <select asp-for="Expense.Category"
                asp-items="Html.GetEnumSelectList<ExpenseCategories>()"
                class="form-control">
            <option value="">-- Select Category --</option>
        </select>

        <button class="btn btn-outline-secondary" type="submit">
            Search
        </button>
    </form>
    <h3>Total Expenses : @ViewBag.Total</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.ExpenseList)
                {
                    <tr>

                        <td>@item.Id</td>
                        <td>@item.Value</td>
                        <td>@item.Description</td>
                        <td>@item.Category</td>
                        <td><a asp-action="CreateEditExpense" asp-controller="Home" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="DeleteExpense" asp-controller="Home" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
